<p id="notice"><%= notice %></p>

<p>
  <strong>Address:</strong>
  <%= @search.address %>
</p>

<p>
  <strong>Time from:</strong>
  <%= @search.time_from %>
</p>

<p>
  <strong>Time to:</strong>
  <%= @search.time_to %>
</p>

<p>
  <strong>Latitude:</strong>
  <%= @search.latitude %>
</p>

<p>
  <strong>Longitude:</strong>
  <%= @search.longitude %>
</p>

<p>
  <strong>User:</strong>
  <%= @search.user_id %>
</p>

<%= link_to 'Edit', edit_search_path(@search) %> |
<%= link_to 'Back', searches_path %>
